---
  openapi: 3.0.0
  info:
    version: 2.0.0
    title: Telnyx API
    description: SIP trunking, SMS, MMS, Call Control and Telephony Data Services.
    x-latency-category: responsive
    x-endpoint-cost: light
    license:
      name: MIT
    contact:
      email: support@telnyx.com
  servers:
  - url: https://api.telnyx.com/v2
    description: Version 2.0.0 of the Telnyx API
  security:
  - BearerAuth: []
  tags:
  - name: Rooms
    description: Rooms operations.
  - name: Room Sessions
    description: Rooms Sessions operations.
  - name: Room Participants
    description: Rooms Participants operations.
  - name: Rooms Client Tokens
    description: Rooms Client Tokens operations.
  - name: Room Recordings
    description: Rooms Recordings operations.
  - name: Room Compositions
    description: Rooms Compositions operations.
  paths:
    "/rooms":
      get:
        summary: View a list of rooms.
        description: ''
        operationId: ListRooms
        x-endpoint-cost: medium
        tags:
        - Rooms
        parameters:
        - name: filter[date_created_at][eq]
          in: query
          description: ISO 8601 date for filtering rooms created on that date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_created_at][gte]
          in: query
          description: ISO 8601 date for filtering rooms created after that date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_created_at][lte]
          in: query
          description: ISO 8601 date for filtering rooms created before that date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_updated_at][eq]
          in: query
          description: ISO 8601 date for filtering rooms updated on that date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_updated_at][gte]
          in: query
          description: ISO 8601 date for filtering rooms updated after that date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_updated_at][lte]
          in: query
          description: ISO 8601 date for filtering rooms updated before that date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[unique_name]
          in: query
          description: Unique_name for filtering rooms.
          schema:
            type: string
            example: my_video_room
        - name: include_sessions
          in: query
          description: To decide if room sessions should be included in the response.
          schema:
            type: boolean
            example: true
        - "$ref": "#/components/parameters/PageSize"
        - "$ref": "#/components/parameters/PageNumber"
        responses:
          '200':
            "$ref": "#/components/responses/ListRoomsResponse"
      post:
        summary: Create a room.
        description: Synchronously create a Room.
        operationId: CreateRoom
        tags:
        - Rooms
        x-endpoint-cost: medium
        requestBody:
          description: Parameters that can be defined during room creation.
          required: true
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateRoomRequest"
        responses:
          '201':
            "$ref": "#/components/responses/CreateRoomResponse"
          '422':
            "$ref": "#/components/responses/UnprocessableEntity"
    "/rooms/{room_id}":
      get:
        summary: View a room.
        operationId: ViewRoom
        tags:
        - Rooms
        x-endpoint-cost: light
        parameters:
        - name: room_id
          in: path
          description: The unique identifier of a room.
          required: true
          schema:
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
        - name: include_sessions
          in: query
          description: To decide if room sessions should be included in the response.
          schema:
            type: boolean
            example: true
        responses:
          '200':
            "$ref": "#/components/responses/GetRoomResponse"
          '404':
            "$ref": "#/components/responses/ResourceNotFound"
      delete:
        summary: Delete a room.
        description: Synchronously delete a Room. Participants from that room will be
          kicked out, they won't be able to join that room anymore, and you won't be
          charged anymore for that room.
        operationId: DeleteRoom
        tags:
        - Rooms
        x-endpoint-cost: medium
        parameters:
        - name: room_id
          in: path
          description: The unique identifier of a room.
          required: true
          schema:
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
        responses:
          '204':
            description: The resource was deleted successfully.
          '404':
            "$ref": "#/components/responses/ResourceNotFound"
      patch:
        summary: Update a room.
        description: Synchronously update a Room.
        operationId: PatchRoom
        tags:
        - Rooms
        x-endpoint-cost: medium
        parameters:
        - name: room_id
          in: path
          description: The unique identifier of a room.
          required: true
          schema:
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
        requestBody:
          description: Parameters that can be defined during room update.
          required: true
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PatchRoomRequest"
        responses:
          '200':
            "$ref": "#/components/responses/PatchRoomResponse"
          '401':
            "$ref": "#/components/responses/UnauthorizedResponse"
          '404':
            "$ref": "#/components/responses/ResourceNotFound"
          '422':
            description: Bad request
    "/rooms/{room_id}/actions/generate_join_client_token":
      post:
        summary: Create Client Token to join a room.
        description: Synchronously create an Client Token to join a Room. Client Token
          is necessary to join a Telnyx Room. Client Token will expire after `token_ttl_secs`,
          a Refresh Token is also provided to refresh a Client Token, the Refresh Token
          expires after `refresh_token_ttl_secs`.
        operationId: CreateRoomClientToken
        tags:
        - Rooms Client Tokens
        x-endpoint-cost: medium
        parameters:
        - name: room_id
          in: path
          description: The unique identifier of a room.
          required: true
          schema:
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
        requestBody:
          description: Parameters that can be defined during Room Client Token creation.
          required: true
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateRoomClientTokenRequest"
        responses:
          '201':
            "$ref": "#/components/responses/CreateRoomClientTokenResponse"
          '403':
            "$ref": "#/components/responses/Forbidden"
    "/rooms/{room_id}/actions/refresh_client_token":
      post:
        summary: Refresh Client Token to join a room.
        description: Synchronously refresh an Client Token to join a Room. Client Token
          is necessary to join a Telnyx Room. Client Token will expire after `token_ttl_secs`.
        operationId: RefreshRoomClientToken
        tags:
        - Rooms Client Tokens
        x-endpoint-cost: light
        security: []
        parameters:
        - name: room_id
          in: path
          description: The unique identifier of a room.
          required: true
          schema:
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
        requestBody:
          description: Parameters that can be defined during Room Client Token refresh.
          required: true
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/RefreshRoomClientTokenRequest"
        responses:
          '201':
            "$ref": "#/components/responses/RefreshRoomClientTokenResponse"
          '403':
            "$ref": "#/components/responses/Forbidden"
    "/rooms/{room_id}/sessions":
      get:
        summary: View a list of room sessions.
        description: ''
        operationId: NestedListRoomSessions
        x-endpoint-cost: medium
        tags:
        - Rooms
        parameters:
        - name: room_id
          in: path
          description: The unique identifier of a room.
          required: true
          schema:
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
        - name: filter[date_created_at][eq]
          in: query
          description: ISO 8601 date for filtering room sessions created on that date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_created_at][gte]
          in: query
          description: ISO 8601 date for filtering room sessions created after that
            date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_created_at][lte]
          in: query
          description: ISO 8601 date for filtering room sessions created before that
            date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_updated_at][eq]
          in: query
          description: ISO 8601 date for filtering room sessions updated on that date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_updated_at][gte]
          in: query
          description: ISO 8601 date for filtering room sessions updated after that
            date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_updated_at][lte]
          in: query
          description: ISO 8601 date for filtering room sessions updated before that
            date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_ended_at][eq]
          in: query
          description: ISO 8601 date for filtering room sessions ended on that date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_ended_at][gte]
          in: query
          description: ISO 8601 date for filtering room sessions ended after that date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_ended_at][lte]
          in: query
          description: ISO 8601 date for filtering room sessions ended before that date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[active]
          in: query
          description: Filter active or inactive room sessions.
          schema:
            type: boolean
            example: true
        - name: include_participants
          in: query
          description: To decide if room participants should be included in the response.
          schema:
            type: boolean
            example: true
        - "$ref": "#/components/parameters/PageSize"
        - "$ref": "#/components/parameters/PageNumber"
        responses:
          '200':
            "$ref": "#/components/responses/ListRoomSessionsResponse"
    "/room_sessions":
      get:
        summary: View a list of room sessions.
        description: ''
        operationId: ListRoomSessions
        x-endpoint-cost: medium
        tags:
        - Room Sessions
        parameters:
        - name: filter[date_created_at][eq]
          in: query
          description: ISO 8601 date for filtering room sessions created on that date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_created_at][gte]
          in: query
          description: ISO 8601 date for filtering room sessions created after that
            date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_created_at][lte]
          in: query
          description: ISO 8601 date for filtering room sessions created before that
            date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_updated_at][eq]
          in: query
          description: ISO 8601 date for filtering room sessions updated on that date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_updated_at][gte]
          in: query
          description: ISO 8601 date for filtering room sessions updated after that
            date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_updated_at][lte]
          in: query
          description: ISO 8601 date for filtering room sessions updated before that
            date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_ended_at][eq]
          in: query
          description: ISO 8601 date for filtering room sessions ended on that date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_ended_at][gte]
          in: query
          description: ISO 8601 date for filtering room sessions ended after that date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_ended_at][lte]
          in: query
          description: ISO 8601 date for filtering room sessions ended before that date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[room_id]
          in: query
          description: Room_id for filtering room sessions.
          schema:
            type: string
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
        - name: filter[active]
          in: query
          description: Filter active or inactive room sessions.
          schema:
            type: boolean
            example: true
        - name: include_participants
          in: query
          description: To decide if room participants should be included in the response.
          schema:
            type: boolean
            example: true
        - "$ref": "#/components/parameters/PageSize"
        - "$ref": "#/components/parameters/PageNumber"
        responses:
          '200':
            "$ref": "#/components/responses/ListRoomSessionsResponse"
    "/room_sessions/{room_session_id}":
      get:
        summary: View a room session.
        operationId: ViewRoomSession
        tags:
        - Room Sessions
        x-endpoint-cost: light
        parameters:
        - name: room_session_id
          in: path
          description: The unique identifier of a room session.
          required: true
          schema:
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
        - name: include_participants
          in: query
          description: To decide if room participants should be included in the response.
          schema:
            type: boolean
            example: true
        responses:
          '200':
            "$ref": "#/components/responses/GetRoomSessionResponse"
          '404':
            "$ref": "#/components/responses/ResourceNotFound"
    "/room_sessions/{room_session_id}/actions/end":
      post:
        summary: End a room session.
        description: 'Note: this will also kick all participants currently present in
          the room'
        operationId: EndSession
        x-endpoint-cost: medium
        tags:
        - Room Sessions
        security: []
        parameters:
        - name: room_session_id
          in: path
          description: The unique identifier of a room session.
          required: true
          schema:
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
        responses:
          '200':
            "$ref": "#/components/responses/ActionSuccessResponse"
    "/room_sessions/{room_session_id}/actions/mute":
      post:
        summary: Mute participants in room session.
        description: ''
        operationId: MuteParticipantInSession
        x-endpoint-cost: medium
        tags:
        - Room Sessions
        security: []
        parameters:
        - name: room_session_id
          in: path
          description: The unique identifier of a room session.
          required: true
          schema:
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
        requestBody:
          description: Parameters that can be defined during Mute action.
          required: true
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ActionsParticipantsRequest"
        responses:
          '200':
            "$ref": "#/components/responses/ActionSuccessResponse"
    "/room_sessions/{room_session_id}/actions/unmute":
      post:
        summary: Unmute participants in room session.
        description: ''
        operationId: UnmuteParticipantInSession
        x-endpoint-cost: medium
        tags:
        - Room Sessions
        security: []
        parameters:
        - name: room_session_id
          in: path
          description: The unique identifier of a room session.
          required: true
          schema:
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
        requestBody:
          description: Parameters that can be defined during Unmute action.
          required: true
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ActionsParticipantsRequest"
        responses:
          '200':
            "$ref": "#/components/responses/ActionSuccessResponse"
    "/room_sessions/{room_session_id}/actions/kick":
      post:
        summary: Kick participants from a room session.
        description: ''
        operationId: KickParticipantInSession
        x-endpoint-cost: medium
        tags:
        - Room Sessions
        security: []
        parameters:
        - name: room_session_id
          in: path
          description: The unique identifier of a room session.
          required: true
          schema:
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
        requestBody:
          description: Parameters that can be defined during Kick action.
          required: true
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ActionsParticipantsRequest"
        responses:
          '200':
            "$ref": "#/components/responses/ActionSuccessResponse"
    "/room_sessions/{room_session_id}/participants":
      get:
        summary: View a list of room participants.
        description: ''
        operationId: NestedListRoomParticipants
        x-endpoint-cost: medium
        tags:
        - Room Sessions
        parameters:
        - name: room_session_id
          in: path
          description: The unique identifier of a room session.
          required: true
          schema:
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
        - name: filter[date_joined_at][eq]
          in: query
          description: ISO 8601 date for filtering room participants that joined on
            that date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_joined_at][gte]
          in: query
          description: ISO 8601 date for filtering room participants that joined after
            that date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_joined_at][lte]
          in: query
          description: ISO 8601 date for filtering room participants that joined before
            that date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_updated_at][eq]
          in: query
          description: ISO 8601 date for filtering room participants updated on that
            date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_updated_at][gte]
          in: query
          description: ISO 8601 date for filtering room participants updated after that
            date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_updated_at][lte]
          in: query
          description: ISO 8601 date for filtering room participants updated before
            that date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_left_at][eq]
          in: query
          description: ISO 8601 date for filtering room participants that left on that
            date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_left_at][gte]
          in: query
          description: ISO 8601 date for filtering room participants that left after
            that date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_left_at][lte]
          in: query
          description: ISO 8601 date for filtering room participants that left before
            that date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[context]
          in: query
          description: Filter room participants based on the context.
          schema:
            type: string
            example: Alice
        - "$ref": "#/components/parameters/PageSize"
        - "$ref": "#/components/parameters/PageNumber"
        responses:
          '200':
            "$ref": "#/components/responses/ListRoomParticipantsResponse"
    "/room_participants":
      get:
        summary: View a list of room participants.
        description: ''
        operationId: ListRoomParticipants
        x-endpoint-cost: medium
        tags:
        - Room Participants
        parameters:
        - name: filter[date_joined_at][eq]
          in: query
          description: ISO 8601 date for filtering room participants that joined on
            that date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_joined_at][gte]
          in: query
          description: ISO 8601 date for filtering room participants that joined after
            that date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_joined_at][lte]
          in: query
          description: ISO 8601 date for filtering room participants that joined before
            that date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_updated_at][eq]
          in: query
          description: ISO 8601 date for filtering room participants updated on that
            date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_updated_at][gte]
          in: query
          description: ISO 8601 date for filtering room participants updated after that
            date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_updated_at][lte]
          in: query
          description: ISO 8601 date for filtering room participants updated before
            that date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_left_at][eq]
          in: query
          description: ISO 8601 date for filtering room participants that left on that
            date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_left_at][gte]
          in: query
          description: ISO 8601 date for filtering room participants that left after
            that date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_left_at][lte]
          in: query
          description: ISO 8601 date for filtering room participants that left before
            that date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[context]
          in: query
          description: Filter room participants based on the context.
          schema:
            type: string
            example: Alice
        - name: filter[session_id]
          in: query
          description: Session_id for filtering room participants.
          schema:
            type: string
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
        - "$ref": "#/components/parameters/PageSize"
        - "$ref": "#/components/parameters/PageNumber"
        responses:
          '200':
            "$ref": "#/components/responses/ListRoomParticipantsResponse"
    "/room_participants/{room_participant_id}":
      get:
        summary: View a room participant.
        operationId: ViewRoomParticipant
        tags:
        - Room Participants
        x-endpoint-cost: light
        parameters:
        - name: room_participant_id
          in: path
          description: The unique identifier of a room participant.
          required: true
          schema:
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
        responses:
          '200':
            "$ref": "#/components/responses/GetRoomParticipantResponse"
          '404':
            "$ref": "#/components/responses/ResourceNotFound"
    "/room_recordings":
      get:
        summary: View a list of room recordings.
        description: ''
        operationId: ListRoomRecordings
        x-endpoint-cost: medium
        tags:
        - Room Recordings
        parameters:
        - name: filter[date_ended_at][eq]
          in: query
          description: ISO 8601 date for filtering room recordings ended on that date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_ended_at][gte]
          in: query
          description: ISO 8601 date for filtering room recordings ended after that
            date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_ended_at][lte]
          in: query
          description: ISO 8601 date for filtering room recordings ended before that
            date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_started_at][eq]
          in: query
          description: ISO 8601 date for filtering room recordings started on that date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_started_at][gte]
          in: query
          description: ISO 8601 date for filtering room recordings started after that
            date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_started_at][lte]
          in: query
          description: ISO 8601 date for filtering room recordings started before that
            date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[room_id]
          in: query
          description: room_id for filtering room recordings.
          schema:
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
        - name: filter[participant_id]
          in: query
          description: participant_id for filtering room recordings.
          schema:
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
        - name: filter[session_id]
          in: query
          description: session_id for filtering room recordings.
          schema:
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
        - name: filter[status]
          in: query
          description: status for filtering room recordings.
          schema:
            type: string
            example: completed
        - name: filter[type]
          in: query
          description: type for filtering room recordings.
          schema:
            type: string
            example: audio
        - name: filter[duration_secs][eq]
          in: query
          description: duration_secs equal for filtering room recordings.
          schema:
            type: integer
            example: 20
        - name: filter[duration_secs][lte]
          in: query
          description: duration_secs less or equal for filtering room recordings.
          schema:
            type: integer
            example: 20
        - name: filter[duration_secs][gte]
          in: query
          description: duration_secs greater or equal for filtering room recordings.
          schema:
            type: integer
            example: 20
        - "$ref": "#/components/parameters/PageSize"
        - "$ref": "#/components/parameters/PageNumber"
        responses:
          '200':
            "$ref": "#/components/responses/ListRoomRecordingsResponse"
      delete:
        summary: Delete several room recordings in a bulk.
        description: ''
        operationId: DeleteRoomRecordings
        x-endpoint-cost: heavy
        tags:
        - Room Recordings
        parameters:
        - name: filter[date_ended_at][eq]
          in: query
          description: ISO 8601 date for filtering room recordings ended on that date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_ended_at][gte]
          in: query
          description: ISO 8601 date for filtering room recordings ended after that
            date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_ended_at][lte]
          in: query
          description: ISO 8601 date for filtering room recordings ended before that
            date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_started_at][eq]
          in: query
          description: ISO 8601 date for filtering room recordings started on that date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_started_at][gte]
          in: query
          description: ISO 8601 date for filtering room recordings started after that
            date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_started_at][lte]
          in: query
          description: ISO 8601 date for filtering room recordings started before that
            date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[room_id]
          in: query
          description: room_id for filtering room recordings.
          schema:
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
        - name: filter[participant_id]
          in: query
          description: participant_id for filtering room recordings.
          schema:
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
        - name: filter[session_id]
          in: query
          description: session_id for filtering room recordings.
          schema:
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
        - name: filter[status]
          in: query
          description: status for filtering room recordings.
          schema:
            type: string
            example: completed
        - name: filter[type]
          in: query
          description: type for filtering room recordings.
          schema:
            type: string
            example: audio
        - name: filter[duration_secs][eq]
          in: query
          description: duration_secs equal for filtering room recordings.
          schema:
            type: integer
            example: 20
        - name: filter[duration_secs][lte]
          in: query
          description: duration_secs less or equal for filtering room recordings.
          schema:
            type: integer
            example: 20
        - name: filter[duration_secs][gte]
          in: query
          description: duration_secs greater or equal for filtering room recordings.
          schema:
            type: integer
            example: 20
        - "$ref": "#/components/parameters/PageSize"
        - "$ref": "#/components/parameters/PageNumber"
        responses:
          '201':
            "$ref": "#/components/responses/BulkDeleteRoomRecordingsResponse"
          '422':
            "$ref": "#/components/responses/UnprocessableEntity"
    "/room_recordings/{room_recording_id}":
      get:
        summary: View a room recording.
        operationId: ViewRoomRecording
        tags:
        - Room Recordings
        x-endpoint-cost: light
        parameters:
        - name: room_recording_id
          in: path
          description: The unique identifier of a room recording.
          required: true
          schema:
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
        responses:
          '200':
            "$ref": "#/components/responses/GetRoomRecordingResponse"
          '404':
            "$ref": "#/components/responses/ResourceNotFound"
      delete:
        summary: Delete a room recording.
        description: Synchronously delete a Room Recording.
        operationId: DeleteRoomRecording
        tags:
        - Room Recordings
        x-endpoint-cost: medium
        parameters:
        - name: room_recording_id
          in: path
          description: The unique identifier of a room recording.
          required: true
          schema:
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
        responses:
          '204':
            description: The resource was deleted successfully.
          '404':
            "$ref": "#/components/responses/ResourceNotFound"
    "/room_compositions":
      get:
        summary: View a list of room compositions.
        description: ''
        operationId: ListRoomCompositions
        x-endpoint-cost: medium
        tags:
        - Room Compositions
        parameters:
        - name: filter[date_created_at][eq]
          in: query
          description: ISO 8601 date for filtering room compositions created on that
            date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_created_at][gte]
          in: query
          description: ISO 8601 date for filtering room compositions created after that
            date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[date_created_at][lte]
          in: query
          description: ISO 8601 date for filtering room compositions created before
            that date.
          schema:
            type: string
            format: date
            example: '2021-04-25'
        - name: filter[session_id]
          in: query
          description: The session_id for filtering room compositions.
          schema:
            type: string
            format: uuid
            example: 92e7d459-bcc5-4386-9f5f-6dd14a82588d
        - name: filter[status]
          in: query
          description: The status for filtering room compositions.
          schema:
            type: string
            example: completed
            enum:
            - completed
            - processing
            - enqueued
        - "$ref": "#/components/parameters/PageSize"
        - "$ref": "#/components/parameters/PageNumber"
        responses:
          '200':
            "$ref": "#/components/responses/ListRoomCompositionsResponse"
      post:
        summary: Create a room composition.
        description: Asynchronously create a room composition.
        operationId: CreateRoomComposition
        tags:
        - Room Compositions
        x-endpoint-cost: heavy
        requestBody:
          description: Parameters that can be defined during room composition creation.
          required: true
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateRoomCompositionRequest"
        responses:
          '202':
            "$ref": "#/components/responses/CreateRoomCompositionResponse"
          '422':
            "$ref": "#/components/responses/UnprocessableEntity"
    "/room_compositions/{room_composition_id}":
      get:
        summary: View a room composition.
        operationId: ViewRoomComposition
        tags:
        - Room Compositions
        x-endpoint-cost: light
        parameters:
        - name: room_composition_id
          in: path
          description: The unique identifier of a room composition.
          required: true
          schema:
            type: string
            format: uuid
            example: 5219b3af-87c6-4c08-9b58-5a533d893e21
        responses:
          '200':
            "$ref": "#/components/responses/GetRoomCompositionResponse"
          '404':
            "$ref": "#/components/responses/ResourceNotFound"
      delete:
        summary: Delete a room composition.
        description: Synchronously delete a room composition.
        operationId: DeleteRoomComposition
        tags:
        - Room Compositions
        x-endpoint-cost: medium
        parameters:
        - name: room_composition_id
          in: path
          description: The unique identifier of a room composition.
          required: true
          schema:
            type: string
            format: uuid
            example: 5219b3af-87c6-4c08-9b58-5a533d893e21
        responses:
          '204':
            description: The resource was deleted successfully.
          '404':
            "$ref": "#/components/responses/ResourceNotFound"
  components:
    securitySchemes:
      BearerAuth:
        type: http
        scheme: bearer
    schemas:
      PaginationMeta:
        type: object
        properties:
          page_number:
            type: integer
            example: 2
          page_size:
            type: integer
            example: 25
          total_pages:
            type: integer
            example: 3
          total_results:
            type: integer
            example: 55
      Room:
        type: object
        properties:
          id:
            description: A unique identifier for the room.
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
          max_participants:
            description: Maximum participants allowed in the room.
            type: integer
            example: 50
          unique_name:
            description: The unique (within the Telnyx account scope) name of the room.
            type: string
            example: My room
          created_at:
            description: ISO 8601 timestamp when the room was created.
            type: string
            format: datetime
            example: '2021-03-26T17:51:59.588408Z'
          updated_at:
            description: ISO 8601 timestamp when the room was updated.
            type: string
            format: datetime
            example: '2021-03-26T17:51:59.588408Z'
          active_session_id:
            description: The identifier of the active room session if any.
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
          sessions:
            type: array
            items:
              "$ref": "#/components/schemas/RoomSession"
          enable_recording:
            description: Enable or disable recording for that room.
            type: boolean
            example: true
            default: false
          webhook_event_url:
            type: string
            format: url
            description: The URL where webhooks related to this room will be sent. Must
              include a scheme, such as 'https'.
            example: https://example.com
          webhook_event_failover_url:
            type: string
            format: url
            description: The failover URL where webhooks related to this room will be
              sent if sending to the primary URL fails. Must include a scheme, such
              as 'https'.
            example: https://failover.example.com
            nullable: true
            default: ''
          webhook_timeout_secs:
            type: integer
            minimum: 0
            maximum: 30
            description: Specifies how many seconds to wait before timing out a webhook.
            example: 25
            default:
            nullable: true
          record_type:
            type: string
            example: room
            readOnly: true
        example:
          id: 7b61621f-62e0-4aad-ab11-9fd19e272e73
          max_participants: 50
          unique_name: My Room
          created_at: '2021-04-16T09:46:20.954863Z'
          updated_at: '2021-04-16T10:24:55.962200Z'
          active_session_id: 7b61621f-62e0-4aad-ab11-9fd19e272e74
          enable_recording: true
          webhook_event_failover_url: https://failover.example.com
          webhook_timeout_secs: 25
          webhook_event_url: https://www.example.com
          sessions:
          - id: 7b61621f-62e0-4aad-ab11-9fd19e272e74
            room_id: 7b61621f-62e0-4aad-ab11-9fd19e272e73
            active: true
            created_at: '2021-04-16T09:46:20.954863Z'
            updated_at: '2021-04-16T10:24:55.962200Z'
            participants: []
            record_type: room_session
          record_type: room
      RoomSession:
        type: object
        properties:
          id:
            description: A unique identifier for the room session.
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
          room_id:
            description: Identify the room hosting that room session.
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777b0
          active:
            description: Shows if the room session is active or not.
            type: boolean
            example: false
          created_at:
            description: ISO 8601 timestamp when the room session was created.
            type: string
            format: datetime
            example: '2021-03-26T17:51:59.588408Z'
          updated_at:
            description: ISO 8601 timestamp when the room session was updated.
            type: string
            format: datetime
            example: '2021-03-26T17:51:59.588408Z'
          ended_at:
            description: ISO 8601 timestamp when the room session has ended.
            type: string
            format: datetime
            example: '2021-03-26T17:51:59.588408Z'
          participants:
            type: array
            items:
              "$ref": "#/components/schemas/RoomParticipant"
          record_type:
            type: string
            example: room_session
            readOnly: true
        example:
          id: 7b61621f-62e0-4aad-ab11-9fd19e272e73
          room_id: 7b61621f-5fe4-4aad-ab11-9fd19e272e73
          active: false
          created_at: '2021-04-16T09:46:20.954863Z'
          updated_at: '2021-04-16T10:24:55.962200Z'
          ended_at: '2021-04-16T10:24:55.962200Z'
          participants: []
          record_type: room_session
      RoomParticipant:
        type: object
        properties:
          id:
            description: A unique identifier for the room participant.
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
          session_id:
            description: Identify the room session that participant is part of.
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777b0
          context:
            description: Context provided to the given participant through the client
              SDK
            type: string
            example: Alice
          joined_at:
            description: ISO 8601 timestamp when the participant joined the session.
            type: string
            format: datetime
            example: '2021-03-26T17:51:59.588408Z'
          updated_at:
            description: ISO 8601 timestamp when the participant was updated.
            type: string
            format: datetime
            example: '2021-03-26T17:51:59.588408Z'
          left_at:
            description: ISO 8601 timestamp when the participant left the session.
            type: string
            format: datetime
            example: '2021-03-26T17:51:59.588408Z'
          record_type:
            type: string
            example: room_participant
            readOnly: true
        example:
          id: 7b61621f-62e0-4aad-ab11-9fd19e272e73
          session_id: 7b61621f-5fe4-4aad-ab11-9fd19e272e73
          context: Alice
          joined_at: '2021-04-16T09:46:20.954863Z'
          updated_at: '2021-04-16T10:24:55.962200Z'
          left_at: '2021-04-16T10:24:55.962200Z'
          record_type: room_participant
      RoomRecording:
        type: object
        properties:
          id:
            description: A unique identifier for the room recording.
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
          room_id:
            description: Identify the room associated with the room recording.
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777b0
          session_id:
            description: Identify the room session associated with the room recording.
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777b0
          participant_id:
            description: Identify the room participant associated with the room recording.
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777b0
          status:
            description: Shows the room recording status.
            type: string
            example: completed
            enum:
            - completed
            - processing
          type:
            description: Shows the room recording type.
            type: string
            example: audio
            enum:
            - audio
            - video
          size_mb:
            description: Shows the room recording size in MB.
            type: number
            format: float
            example: 10.5
          download_url:
            description: Url to download the recording.
            type: string
            example: https://www.example.com
          codec:
            description: Shows the codec used for the room recording.
            type: string
            example: opus
          duration_secs:
            description: Shows the room recording duration in seconds.
            type: integer
            example: 67
          created_at:
            description: ISO 8601 timestamp when the room recording was created.
            type: string
            format: datetime
            example: '2021-03-26T17:51:59.588408Z'
          updated_at:
            description: ISO 8601 timestamp when the room recording was updated.
            type: string
            format: datetime
            example: '2021-03-26T17:51:59.588408Z'
          ended_at:
            description: ISO 8601 timestamp when the room recording has ended.
            type: string
            format: datetime
            example: '2021-03-26T17:51:59.588408Z'
          started_at:
            description: ISO 8601 timestamp when the room recording has stated.
            type: string
            format: datetime
            example: '2021-03-26T17:51:59.588408Z'
          completed_at:
            description: ISO 8601 timestamp when the room recording has completed.
            type: string
            format: datetime
            example: '2021-03-26T17:51:59.588408Z'
          record_type:
            type: string
            example: room_recording
            readOnly: true
        example:
          id: 6b61621f-62e0-4aad-ab11-9fd19e272e73
          room_id: 7b61621f-5fe4-4aad-ab11-9fd19e272e73
          session_id: 8b61621f-5fe4-4aad-ab11-9fd19e272e73
          participant_id: 9b61621f-5fe4-4aad-ab11-9fd19e272e73
          status: completed
          download_url: https://www.example.com
          type: audio
          duration_secs: 3660
          size_mb: 5.6
          codec: opus
          created_at: '2021-04-16T09:46:20.954863Z'
          updated_at: '2021-04-16T10:24:55.962200Z'
          started_at: '2021-04-16T09:24:55.962200Z'
          ended_at: '2021-04-16T10:24:55.962200Z'
          completed_at: '2021-04-16T10:25:55.962200Z'
          record_type: room_session
      RoomComposition:
        type: object
        properties:
          id:
            description: A unique identifier for the room composition.
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
          room_id:
            description: Identify the room associated with the room composition.
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777b0
          session_id:
            description: Identify the room session associated with the room composition.
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777b0
          user_id:
            description: Identify the user associated with the room composition.
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777b0
          status:
            description: Shows the room composition status.
            type: string
            example: completed
            enum:
            - completed
            - enqueued
            - processing
          size_mb:
            description: Shows the room composition size in MB.
            type: number
            format: float
            example: 10.5
          download_url:
            description: Url to download the composition.
            type: string
            example: https://www.example.com
          duration_secs:
            description: Shows the room composition duration in seconds.
            type: integer
            example: 67
          format:
            description: Shows format of the room composition.
            type: string
            example: mp4
            enum:
            - mp4
          created_at:
            description: ISO 8601 timestamp when the room composition was created.
            type: string
            format: datetime
            example: '2021-03-26T17:51:59.588408Z'
          updated_at:
            description: ISO 8601 timestamp when the room composition was updated.
            type: string
            format: datetime
            example: '2021-03-26T17:51:59.588408Z'
          ended_at:
            description: ISO 8601 timestamp when the room composition has ended.
            type: string
            format: datetime
            example: '2021-03-26T17:51:59.588408Z'
          started_at:
            description: ISO 8601 timestamp when the room composition has stated.
            type: string
            format: datetime
            example: '2021-03-26T17:51:59.588408Z'
          completed_at:
            description: ISO 8601 timestamp when the room composition has completed.
            type: string
            format: datetime
            example: '2021-03-26T17:51:59.588408Z'
          video_layout:
            description: Describes the video layout of the room composition in terms
              of regions. Limited to 2 regions.
            type: object
            additionalProperties:
              "$ref": "#/components/schemas/VideoRegion"
          webhook_event_url:
            description: The URL where webhooks related to this room composition will
              be sent. Must include a scheme, such as 'https'.
            type: string
            format: url
            example: https://example.com
          webhook_event_failover_url:
            type: string
            format: url
            description: The failover URL where webhooks related to this room composition
              will be sent if sending to the primary URL fails. Must include a scheme,
              such as 'https'.
            example: https://failover.example.com
            nullable: true
            default: ''
          webhook_timeout_secs:
            type: integer
            minimum: 0
            maximum: 30
            description: Specifies how many seconds to wait before timing out a webhook.
            example: 25
            default:
            nullable: true
          record_type:
            type: string
            example: room_composition
            readOnly: true
        example:
          completed_at: '2022-02-25T05:39:56.377426Z'
          download_url:
          duration_secs: 84
          ended_at: '2022-02-24T23:22:24.577677Z'
          format: mp4
          id: 7103dc53-ee59-4b54-a58b-c77d99ceb037
          record_type: composition
          resolution: 1280x720
          room_id: f981dbb3-228a-44e9-ac54-e87f0e2658b0
          session_id: 8f728d7b-00e2-4c59-8c27-f564b828df87
          size_mb: 6
          started_at: '2022-02-24T23:21:00.077209Z'
          status: enqueued
          user_id: 12a04ec9-0f91-4a91-9f3a-a19d9931182e
          video_layout:
            first:
              height: 720
              video_sources:
              - "*"
              width: 1280
              x_pos: 0
              y_pos: 0
              z_pos: 0
          webhook_event_url: https://webhook.site/544663ce-b692-4f9c-80ed-e5ad97cd5c02
      VideoRegion:
        type: object
        properties:
          x_pos:
            description: X axis value (in pixels) of the region's upper left corner
              relative to the upper left corner of the whole room composition viewport.
            type: integer
            example: 100
            default: 0
            nullable: true
          y_pos:
            description: Y axis value (in pixels) of the region's upper left corner
              relative to the upper left corner of the whole room composition viewport.
            type: integer
            example: 100
            default: 0
            nullable: true
          z_pos:
            description: Regions with higher z_pos values are stacked on top of regions
              with lower z_pos values
            type: integer
            minimum: -99
            maximum: 99
            example: 1
            default: 0
            nullable: true
          height:
            description: Height of the video region
            type: integer
            minimum: 16
            example: 360
            nullable: true
          width:
            description: Width of the video region
            type: integer
            minimum: 16
            example: 480
            nullable: true
          max_columns:
            description: Maximum number of columns of the region's placement grid. By
              default, the region has as many columns as needed to layout all the specified
              video sources.
            type: integer
            minimum: 1
            maximum: 1000
            example: 3
            nullable: true
          max_rows:
            description: Maximum number of rows of the region's placement grid. By default,
              the region has as many rows as needed to layout all the specified video
              sources.
            type: integer
            minimum: 1
            maximum: 1000
            example: 3
            nullable: true
          video_sources:
            description: Array of video recording ids to be composed in the region.
              Can be "*" to specify all video recordings in the session
            type: array
            items:
              type: string
              format: uuid
              example: 7b61621f-62e0-4aad-ab11-9fd19e272e73
      CreateRoomRequest:
        type: object
        properties:
          unique_name:
            description: The unique (within the Telnyx account scope) name of the room.
            type: string
            example: My room
          max_participants:
            description: The maximum amount of participants allowed in a room. If new
              participants try to join after that limit is reached, their request will
              be rejected.
            type: integer
            example: 10
            default: 10
            minimum: 2
            maximum: 50
          enable_recording:
            description: Enable or disable recording for that room.
            type: boolean
            example: true
            default: false
          webhook_event_url:
            type: string
            format: url
            description: The URL where webhooks related to this room will be sent. Must
              include a scheme, such as 'https'.
            example: https://example.com
          webhook_event_failover_url:
            type: string
            format: url
            description: The failover URL where webhooks related to this room will be
              sent if sending to the primary URL fails. Must include a scheme, such
              as 'https'.
            example: https://failover.example.com
            nullable: true
            default: ''
          webhook_timeout_secs:
            type: integer
            minimum: 0
            maximum: 30
            description: Specifies how many seconds to wait before timing out a webhook.
            example: 25
            default:
            nullable: true
      PatchRoomRequest:
        type: object
        properties:
          unique_name:
            description: The unique (within the Telnyx account scope) name of the room.
            type: string
            example: My room
          max_participants:
            description: The maximum amount of participants allowed in a room. If new
              participants try to join after that limit is reached, their request will
              be rejected.
            type: integer
            example: 10
            default: 10
            minimum: 2
            maximum: 50
          enable_recording:
            description: Enable or disable recording for that room.
            type: boolean
            example: true
            default: false
          webhook_event_url:
            type: string
            format: url
            description: The URL where webhooks related to this room will be sent. Must
              include a scheme, such as 'https'.
            example: https://example.com
          webhook_event_failover_url:
            type: string
            format: url
            description: The failover URL where webhooks related to this room will be
              sent if sending to the primary URL fails. Must include a scheme, such
              as 'https'.
            example: https://failover.example.com
            nullable: true
            default: ''
          webhook_timeout_secs:
            type: integer
            minimum: 0
            maximum: 30
            description: Specifies how many seconds to wait before timing out a webhook.
            example: 25
            default:
            nullable: true
      CreateRoomClientTokenRequest:
        type: object
        properties:
          token_ttl_secs:
            description: The time to live in seconds of the Client Token, after that
              time the Client Token is invalid and can't be used to join a Room.
            type: integer
            example: 600
            default: 600
            minimum: 10
            maximum: 3600
          refresh_token_ttl_secs:
            description: The time to live in seconds of the Refresh Token, after that
              time the Refresh Token is invalid and can't be used to refresh Client
              Token.
            type: integer
            example: 3600
            default: 3600
            minimum: 60
            maximum: 86400
      RefreshRoomClientTokenRequest:
        type: object
        properties:
          token_ttl_secs:
            description: The time to live in seconds of the Client Token, after that
              time the Client Token is invalid and can't be used to join a Room.
            type: integer
            example: 600
            default: 600
            minimum: 10
            maximum: 3600
          refresh_token:
            type: string
            format: jwt
            example: eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJ0ZWxueXhfdGVsZXBob255IiwiZXhwIjoxNTkwMDEwMTQzLCJpYXQiOjE1ODc1OTA5NDMsImlzcyI6InRlbG55eF90ZWxlcGhvbnkiLCJqdGkiOiJiOGM3NDgzNy1kODllLTRhNjUtOWNmMi0zNGM3YTZmYTYwYzgiLCJuYmYiOjE1ODc1OTA5NDIsInN1YiI6IjVjN2FjN2QwLWRiNjUtNGYxMS05OGUxLWVlYzBkMWQ1YzZhZSIsInRlbF90b2tlbiI6InJqX1pra1pVT1pNeFpPZk9tTHBFVUIzc2lVN3U2UmpaRmVNOXMtZ2JfeENSNTZXRktGQUppTXlGMlQ2Q0JSbWxoX1N5MGlfbGZ5VDlBSThzRWlmOE1USUlzenl6U2xfYURuRzQ4YU81MHlhSEd1UlNZYlViU1ltOVdJaVEwZz09IiwidHlwIjoiYWNjZXNzIn0.gNEwzTow5MLLPLQENytca7pUN79PmPj6FyqZWW06ZeEmesxYpwKh0xRtA0TzLh6CDYIRHrI8seofOO0YFGDhpQ
        required:
        - refresh_token
      ActionsParticipantsRequest:
        type: object
        properties:
          participants:
            description: Either a list of participant id to perform the action on, or
              the keyword "all" to perform the action on all participant.
            oneOf:
            - type: string
              example: all
              enum:
              - all
            - type: array
              items:
                type: string
                format: uuid
                example: 7b61621f-62e0-4aad-ab11-9fd19e272e73
          exclude:
            description: List of participant id to exclude from the action.
            type: array
            items:
              type: string
              format: uuid
              example: 7b61621f-62e0-4aad-ab11-9fd19e272e73
      CreateRoomCompositionRequest:
        type: object
        properties:
          format:
            description: The desired format of the room composition.
            type: string
            example: mp4
            nullable: true
            default: mp4
          resolution:
            description: The desired resolution (width/height in pixels) of the resulting
              video of the room composition. Both width and height are required to be
              between 16 and 1280; and width * height should not exceed 1280 * 720
            type: string
            example: 800x600
            nullable: true
            default: 1280x720
          session_id:
            description: id of the room session associated with the room composition.
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777b0
            nullable: true
          video_layout:
            description: Describes the video layout of the room composition in terms
              of regions.
            type: object
            additionalProperties:
              "$ref": "#/components/schemas/VideoRegion"
          webhook_event_url:
            type: string
            format: url
            description: The URL where webhooks related to this room composition will
              be sent. Must include a scheme, such as 'https'.
            example: https://example.com
          webhook_event_failover_url:
            type: string
            format: url
            description: The failover URL where webhooks related to this room composition
              will be sent if sending to the primary URL fails. Must include a scheme,
              such as 'https'.
            example: https://failover.example.com
            nullable: true
            default: ''
          webhook_timeout_secs:
            type: integer
            minimum: 0
            maximum: 30
            description: Specifies how many seconds to wait before timing out a webhook.
            example: 25
            default:
            nullable: true
      Errors:
        properties:
          errors:
            type: array
            items:
              "$ref": "#/components/schemas/Error"
      Error:
        required:
        - code
        - title
        properties:
          code:
            type: string
            format: int
          title:
            type: string
          detail:
            type: string
          source:
            type: object
            properties:
              pointer:
                description: JSON pointer (RFC6901) to the offending entity.
                type: string
                format: json-pointer
              parameter:
                description: Indicates which query parameter caused the error.
                type: string
          meta:
            type: object
      SessionStartedEvent:
        type: object
        title: Session Started Event
        properties:
          data:
            "$ref": "#/components/schemas/SessionStarted"
      SessionStarted:
        type: object
        title: Session Started
        properties:
          record_type:
            type: string
            example: event
            enum:
            - event
            description: An identifier for the type of the resource.
          event_type:
            type: string
            example: video.room.session.started
            enum:
            - video.room.session.started
            description: The type of event being delivered.
          id:
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
            description: Uniquely identify the event.
          occurred_at:
            type: string
            format: date-time
            example: '2018-02-02T22:25:27.521992Z'
            description: ISO 8601 datetime of when the event occurred.
          payload:
            type: object
            properties:
              session_id:
                type: string
                format: uuid
                example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
                description: Session ID that identifies the session that started.
              room_id:
                type: string
                format: uuid
                example: 0ccc7b54-4df3-4bca-a65a-35a1ecc777f0
                description: Room ID that identifies the room where the session started.
        example:
          record_type: event
          event_type: video.room.session.started
          id: 6b61621f-62e0-4aad-ab11-9fd19e272e73
          occurred_at: '2018-02-02T22:25:27.521992Z'
          payload:
            session_id: 7b61621f-62e0-4aad-ab11-9fd19e272e73
            room_id: 0ccc7b54-4df3-4bca-a65a-35a1ecc777f0
      SessionEndedEvent:
        type: object
        title: Session Ended Event
        properties:
          data:
            "$ref": "#/components/schemas/SessionEnded"
      SessionEnded:
        type: object
        title: Session Ended
        properties:
          record_type:
            type: string
            example: event
            enum:
            - event
            description: An identifier for the type of the resource.
          event_type:
            type: string
            example: video.room.session.ended
            enum:
            - video.room.session.ended
            description: The type of event being delivered.
          id:
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
            description: Uniquely identify the event.
          occurred_at:
            type: string
            format: date-time
            example: '2018-02-02T22:25:27.521992Z'
            description: ISO 8601 datetime of when the event occurred.
          payload:
            type: object
            properties:
              session_id:
                type: string
                format: uuid
                example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
                description: Session ID that identifies the session that ended.
              room_id:
                type: string
                format: uuid
                example: 0ccc7b54-4df3-4bca-a65a-35a1ecc777f0
                description: Room ID that identifies the room where the session ended.
              duration_secs:
                type: integer
                example: 245
                description: The duration in seconds of the session
              ended_reason:
                type: string
                example: stale
                description: The reason why the session ended
        example:
          record_type: event
          event_type: video.room.session.ended
          id: 6b61621f-62e0-4aad-ab11-9fd19e272e73
          occurred_at: '2018-02-02T22:25:27.521992Z'
          payload:
            session_id: 7b61621f-62e0-4aad-ab11-9fd19e272e73
            room_id: 0ccc7b54-4df3-4bca-a65a-35a1ecc777f0
            duration_secs: 235
            ended_reason: stale
      ParticipantJoinedEvent:
        type: object
        title: Participant Joined Event
        properties:
          data:
            "$ref": "#/components/schemas/ParticipantJoined"
      ParticipantJoined:
        type: object
        title: Participant Joined
        properties:
          record_type:
            type: string
            example: event
            enum:
            - event
            description: An identifier for the type of the resource.
          event_type:
            type: string
            example: video.room.participant.joined
            enum:
            - video.room.participant.joined
            description: The type of event being delivered.
          id:
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
            description: Uniquely identify the event.
          occurred_at:
            type: string
            format: date-time
            example: '2018-02-02T22:25:27.521992Z'
            description: ISO 8601 datetime of when the event occurred.
          payload:
            type: object
            properties:
              session_id:
                type: string
                format: uuid
                example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
                description: Session ID that identifies the session where the participant
                  joined.
              room_id:
                type: string
                format: uuid
                example: 0ccc7b54-4df3-4bca-a65a-35a1ecc777f0
                description: Room ID that identifies the room where the participant
                  joined.
              context:
                type: string
                example: Alice
                description: Context provided to the given participant through the client
                  SDK
              participant_id:
                type: string
                format: uuid
                example: 0ccc7b54-4df3-4bca-a65a-35a1ecc777f0
                description: Participant ID that identifies the participant that joined.
        example:
          record_type: event
          event_type: video.room.session.started
          id: 6b61621f-62e0-4aad-ab11-9fd19e272e73
          occurred_at: '2018-02-02T22:25:27.521992Z'
          payload:
            session_id: 7b61621f-62e0-4aad-ab11-9fd19e272e73
            room_id: 0ccc7b54-4df3-4bca-a65a-35a1ecc777f0
            participant_id: 5ccc7b54-4df3-4bca-a65a-35a1ecc777f0
            context: Alice
      ParticipantLeftEvent:
        type: object
        title: Participant Left Event
        properties:
          data:
            "$ref": "#/components/schemas/ParticipantLeft"
      ParticipantLeft:
        type: object
        title: Participant Left
        properties:
          record_type:
            type: string
            example: event
            enum:
            - event
            description: An identifier for the type of the resource.
          event_type:
            type: string
            example: video.room.participant.left
            enum:
            - video.room.participant.left
            description: The type of event being delivered.
          id:
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
            description: Uniquely identify the event.
          occurred_at:
            type: string
            format: date-time
            example: '2018-02-02T22:25:27.521992Z'
            description: ISO 8601 datetime of when the event occurred.
          payload:
            type: object
            properties:
              session_id:
                type: string
                format: uuid
                example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
                description: Session ID that identifies the session where the participant
                  left.
              room_id:
                type: string
                format: uuid
                example: 0ccc7b54-4df3-4bca-a65a-35a1ecc777f0
                description: Room ID that identifies the room where the participant
                  left.
              context:
                type: string
                example: Alice
                description: Context provided to the given participant through the client
                  SDK
              participant_id:
                type: string
                format: uuid
                example: 0ccc7b54-4df3-4bca-a65a-35a1ecc777f0
                description: Participant ID that identifies the participant that left.
              duration_secs:
                type: integer
                example: 245
                description: The duration in seconds of the participant in the session
              left_reason:
                type: string
                example: kicked
                description: The reason why the participant left
        example:
          record_type: event
          event_type: video.room.session.started
          id: 6b61621f-62e0-4aad-ab11-9fd19e272e73
          occurred_at: '2018-02-02T22:25:27.521992Z'
          payload:
            session_id: 7b61621f-62e0-4aad-ab11-9fd19e272e73
            room_id: 0ccc7b54-4df3-4bca-a65a-35a1ecc777f0
            participant_id: 5ccc7b54-4df3-4bca-a65a-35a1ecc777f0
            context: Alice
            duration_secs: 34
            left_reason: kick
      RecordingStartedEvent:
        type: object
        title: Recording Started Event
        properties:
          data:
            "$ref": "#/components/schemas/RecordingStarted"
      RecordingStarted:
        type: object
        title: Recording Started
        properties:
          record_type:
            type: string
            example: event
            enum:
            - event
            description: An identifier for the type of the resource.
          event_type:
            type: string
            example: video.room.recording.started
            enum:
            - video.room.recording.started
            description: The type of event being delivered.
          id:
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
            description: Uniquely identify the event.
          occurred_at:
            type: string
            format: date-time
            example: '2018-02-02T22:25:27.521992Z'
            description: ISO 8601 datetime of when the event occurred.
          payload:
            type: object
            properties:
              session_id:
                type: string
                format: uuid
                example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
                description: Session ID associated with the recording.
              room_id:
                type: string
                format: uuid
                example: 0ccc7b54-4df3-4bca-a65a-35a1ecc777f0
                description: Room ID associated with the recording.
              participant_id:
                type: string
                format: uuid
                example: 0ccc7b54-4df3-4bca-a65a-35a1ecc777f0
                description: Participant ID associated with the recording.
              recording_id:
                type: string
                format: uuid
                example: 0ccc7b54-4df3-4bca-a65a-35a1ecc777f0
                description: Recording ID associated with the recording.
              type:
                type: string
                example: audio
                enum:
                - audio
                - video
                description: Type of the recording.
        example:
          record_type: event
          event_type: video.room.recording.started
          id: 6b61621f-62e0-4aad-ab11-9fd19e272e73
          occurred_at: '2018-02-02T22:25:27.521992Z'
          payload:
            session_id: 7b61621f-62e0-4aad-ab11-9fd19e272e73
            room_id: 0ccc7b54-4df3-4bca-a65a-35a1ecc777f0
            participant_id: 5ccc7b54-4df3-4bca-a65a-35a1ecc777f0
            recording_id: 1ccc7b54-4df3-4bca-a65a-35a1ecc777f0
            type: audio
      RecordingCompletedEvent:
        type: object
        title: Recording Completed Event
        properties:
          data:
            "$ref": "#/components/schemas/RecordingCompleted"
      RecordingCompleted:
        type: object
        title: Recording Completed
        properties:
          record_type:
            type: string
            example: event
            enum:
            - event
            description: An identifier for the type of the resource.
          event_type:
            type: string
            example: video.room.recording.completed
            enum:
            - video.room.recording.completed
            description: The type of event being delivered.
          id:
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
            description: Uniquely identify the event.
          occurred_at:
            type: string
            format: date-time
            example: '2018-02-02T22:25:27.521992Z'
            description: ISO 8601 datetime of when the event occurred.
          payload:
            type: object
            properties:
              session_id:
                type: string
                format: uuid
                example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
                description: Session ID associated with the recording.
              room_id:
                type: string
                format: uuid
                example: 0ccc7b54-4df3-4bca-a65a-35a1ecc777f0
                description: Room ID associated with the recording.
              participant_id:
                type: string
                format: uuid
                example: 0ccc7b54-4df3-4bca-a65a-35a1ecc777f0
                description: Participant ID associated with the recording.
              recording_id:
                type: string
                format: uuid
                example: 0ccc7b54-4df3-4bca-a65a-35a1ecc777f0
                description: Recording ID that identifies the recording.
              type:
                type: string
                example: audio
                enum:
                - audio
                - video
                description: Type of the recording.
              size_mb:
                description: Recording size in MB.
                type: number
                format: float
                example: 10.5
              download_url:
                description: Url to download the recording.
                type: string
                example: https://www.example.com
              codec:
                description: Codec used for the recording.
                type: string
                example: opus
              duration_secs:
                description: Recording duration in seconds.
                type: integer
                example: 67
        example:
          record_type: event
          event_type: video.room.recording.started
          id: 6b61621f-62e0-4aad-ab11-9fd19e272e73
          occurred_at: '2018-02-02T22:25:27.521992Z'
          payload:
            session_id: 7b61621f-62e0-4aad-ab11-9fd19e272e73
            room_id: 0ccc7b54-4df3-4bca-a65a-35a1ecc777f0
            participant_id: 5ccc7b54-4df3-4bca-a65a-35a1ecc777f0
            recording_id: 1ccc7b54-4df3-4bca-a65a-35a1ecc777f0
            type: audio
            download_url: https://www.example.com
            duration_secs: 3660
            size_mb: 5.6
            codec: opus
      CompositionCompletedEvent:
        type: object
        title: Composition Completed Event
        properties:
          data:
            "$ref": "#/components/schemas/CompositionCompleted"
      CompositionCompleted:
        type: object
        title: Composition Completed
        properties:
          record_type:
            type: string
            example: event
            enum:
            - event
            description: An identifier for the type of the resource.
          event_type:
            type: string
            example: video.room.composition.completed
            enum:
            - video.room.composition.completed
            description: The type of event being delivered.
          id:
            type: string
            format: uuid
            example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
            description: Uniquely identify the event.
          occurred_at:
            type: string
            format: date-time
            example: '2018-02-02T22:25:27.521992Z'
            description: ISO 8601 datetime of when the event occurred.
          payload:
            type: object
            properties:
              composition_id:
                type: string
                format: uuid
                example: 0ccc7b54-4df3-4bca-a65a-35a1ecc777f0
                description: Composition ID that identifies the room composition.
              download_url:
                description: Url to download the room composition.
                type: string
                example: https://www.example.com
              duration_secs:
                description: Room composition duration in seconds.
                type: integer
                example: 67
              format:
                description: Format of the room composition.
                type: string
                example: mp4
              resolution:
                description: Format of the room composition.
                type: string
                example: 1280x720
              room_id:
                type: string
                format: uuid
                example: 0ccc7b54-4df3-4bca-a65a-35a1ecc777f0
                description: Room ID associated with the room composition.
              session_id:
                type: string
                format: uuid
                example: 0ccc7b54-4df3-4bca-a65a-3da1ecc777f0
                description: Session ID associated with the room composition.
              size_mb:
                description: Room composition size in MB.
                type: number
                format: float
                example: 10.5
        example:
          record_type: event
          event_type: video.room.composition.completed
          id: d51754fc-6888-4b0e-8f29-fc3ae41250cd
          occurred_at: '2022-03-02 04:47:29.980874Z'
          payload:
            composition_id: 5970ce77-4aeb-4e18-ac8c-3effca0c145a
            download_url: https://www.example.com
            duration_secs: 53
            format: mp4
            resolution: 1280x720
            room_id: 2fbf2c0d-b6aa-463f-aeed-83ce298be978
            session_id: 7c4da191-2600-4df6-a35e-0ecae6caa5d3
            size_mb: 2.6
    responses:
      ActionSuccessResponse:
        description: Success Action Response
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    result:
                      type: string
                      example: ok
      ListRoomsResponse:
        description: List rooms response.
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    "$ref": "#/components/schemas/Room"
                meta:
                  "$ref": "#/components/schemas/PaginationMeta"
      GetRoomResponse:
        description: Get room response.
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  "$ref": "#/components/schemas/Room"
      CreateRoomResponse:
        description: Create room response.
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  "$ref": "#/components/schemas/Room"
      PatchRoomResponse:
        description: Update room response.
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  "$ref": "#/components/schemas/Room"
      CreateRoomClientTokenResponse:
        description: Create room client token response.
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    token:
                      type: string
                      format: jwt
                      example: eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJ0ZWxueXhfdGVsZXBob255IiwiZXhwIjoxNTkwMDEwMTQzLCJpYXQiOjE1ODc1OTA5NDMsImlzcyI6InRlbG55eF90ZWxlcGhvbnkiLCJqdGkiOiJiOGM3NDgzNy1kODllLTRhNjUtOWNmMi0zNGM3YTZmYTYwYzgiLCJuYmYiOjE1ODc1OTA5NDIsInN1YiI6IjVjN2FjN2QwLWRiNjUtNGYxMS05OGUxLWVlYzBkMWQ1YzZhZSIsInRlbF90b2tlbiI6InJqX1pra1pVT1pNeFpPZk9tTHBFVUIzc2lVN3U2UmpaRmVNOXMtZ2JfeENSNTZXRktGQUppTXlGMlQ2Q0JSbWxoX1N5MGlfbGZ5VDlBSThzRWlmOE1USUlzenl6U2xfYURuRzQ4YU81MHlhSEd1UlNZYlViU1ltOVdJaVEwZz09IiwidHlwIjoiYWNjZXNzIn0.gNEwzTow5MLLPLQENytca7pUN79PmPj6FyqZWW06ZeEmesxYpwKh0xRtA0TzLh6CDYIRHrI8seofOO0YFGDhpQ
                    token_expires_at:
                      description: ISO 8601 timestamp when the token expires.
                      type: string
                      format: datetime
                      example: '2021-03-26T17:51:59Z'
                    refresh_token:
                      type: string
                      format: jwt
                      example: eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJ0ZWxueXhfdGVsZXBob255IiwiZXhwIjoxNTkwMDEwMTQzLCJpYXQiOjE1ODc1OTA5NDMsImlzcyI6InRlbG55eF90ZWxlcGhvbnkiLCJqdGkiOiJiOGM3NDgzNy1kODllLTRhNjUtOWNmMi0zNGM3YTZmYTYwYzgiLCJuYmYiOjE1ODc1OTA5NDIsInN1YiI6IjVjN2FjN2QwLWRiNjUtNGYxMS05OGUxLWVlYzBkMWQ1YzZhZSIsInRlbF90b2tlbiI6InJqX1pra1pVT1pNeFpPZk9tTHBFVUIzc2lVN3U2UmpaRmVNOXMtZ2JfeENSNTZXRktGQUppTXlGMlQ2Q0JSbWxoX1N5MGlfbGZ5VDlBSThzRWlmOE1USUlzenl6U2xfYURuRzQ4YU81MHlhSEd1UlNZYlViU1ltOVdJaVEwZz09IiwidHlwIjoiYWNjZXNzIn0.gNEwzTow5MLLPLQENytca7pUN79PmPj6FyqZWW06ZeEmesxYpwKh0xRtA0TzLh6CDYIRHrI8seofOO0YFGDhpQ
                    refresh_token_expires_at:
                      description: ISO 8601 timestamp when the refresh token expires.
                      type: string
                      format: datetime
                      example: '2021-03-26T17:51:59Z'
                  example:
                    token: eyJhbGciOiJFZDI1NTE5IiwidHlwIjoiSldUIn0.eyJhdWQiOiJ0ZWxueXhfYWNjZXNzX3Rva2VuIiwiZXhwIjoxNjE5MDk0Mjk1LCJncmFudHMiOlt7ImFjdGlvbnMiOlsiam9pbiJdLCJyZXNvdXJjZXMiOlsidGVsbnl4OnZpZGVvOnJvb21zOjllMmEwY2JlLWNlNjYtNDExZS1hMWFjLTQ2OGYwYjEwM2M5YSJdLCJzdWJqZWN0cyI6WyJ0ZWxueXg6dXNlcnM6NzgyYjJjYmUtODQ2Ni00ZTNmLWE0ZDMtOTc4MWViNTc3ZTUwIl19XSwiZ3JhbnRzX3ZlcnNpb24iOiIxLjAuMCIsImlhdCI6MTYxOTA5MzY5NSwiaXNzIjoidGVsbnl4X2FjY2Vzc190b2tlbiIsImp0aSI6IjllNjIyOTA2LTc1ZTctNDBiNi1iOTAwLTc1NGIxZjNlZDMyZiIsIm5iZiI6MTYxOTA5MzY5NCwic3ViIjoibnVsbCIsInR5cCI6ImFjY2VzcyJ9.1JGK9PyHkTtoP_iMu-8TzXH_fhmnsDtZZOAJLDzLW6DDtAb80wZ93l1VH5yNx5tFqwIFG0t48dRiBKWlW-nzDA
                    token_expires_at: '2021-04-22T12:24:55Z'
                    refresh_token: eyJhbGciOiJFZDI1NTE5IiwidHlwIjoiSldUIn0.eyJhdWQiOiJ0ZWxueXhfYWNjZXNzX3Rva2VuIiwiZXhwIjoxNjE5MDkzNzA1LCJncmFudHMiOlt7ImFjdGlvbnMiOlsiam9pbiJdLCJyZXNvdXJjZXMiOlsidGVsbnl4OnZpZGVvOnJvb21zOjllMmEwY2JlLWNlNjYtNDExZS1hMWFjLTQ2OGYwYjEwM2M5YSJdLCJzdWJqZWN0cyI6WyJ0ZWxueXg6dXNlcnM6NzgyYjJjYmUtODQ2Ni00ZTNmLWE0ZDMtOTc4MWViNTc3ZTUwIl19XSwiZ3JhbnRzX3ZlcnNpb24iOiIxLjAuMCIsImlhdCI6MTYxOTA5MzY5NSwiaXNzIjoidGVsbnl4X2FjY2Vzc190b2tlbiIsImp0aSI6ImQ3OWJlMzhjLWFkNTQtNGQ5ZC1hODc4LWExNjVjNTk0MGQwNyIsIm5iZiI6MTYxOTA5MzY5NCwic3ViIjoibnVsbCIsInR5cCI6InJlZnJlc2gifQ.FHsp7KlVXn1E5tTUiKZzmQ4of39gi57AakeQeqI0oAa8hzjFMVb0RGj-mxWTvHVen4GpgsUW_epqqaxK16viCA
                    refresh_token_expires_at: '2021-04-22T12:15:05Z'
      RefreshRoomClientTokenResponse:
        description: Refresh room client token response.
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    token:
                      type: string
                      format: jwt
                      example: eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJ0ZWxueXhfdGVsZXBob255IiwiZXhwIjoxNTkwMDEwMTQzLCJpYXQiOjE1ODc1OTA5NDMsImlzcyI6InRlbG55eF90ZWxlcGhvbnkiLCJqdGkiOiJiOGM3NDgzNy1kODllLTRhNjUtOWNmMi0zNGM3YTZmYTYwYzgiLCJuYmYiOjE1ODc1OTA5NDIsInN1YiI6IjVjN2FjN2QwLWRiNjUtNGYxMS05OGUxLWVlYzBkMWQ1YzZhZSIsInRlbF90b2tlbiI6InJqX1pra1pVT1pNeFpPZk9tTHBFVUIzc2lVN3U2UmpaRmVNOXMtZ2JfeENSNTZXRktGQUppTXlGMlQ2Q0JSbWxoX1N5MGlfbGZ5VDlBSThzRWlmOE1USUlzenl6U2xfYURuRzQ4YU81MHlhSEd1UlNZYlViU1ltOVdJaVEwZz09IiwidHlwIjoiYWNjZXNzIn0.gNEwzTow5MLLPLQENytca7pUN79PmPj6FyqZWW06ZeEmesxYpwKh0xRtA0TzLh6CDYIRHrI8seofOO0YFGDhpQ
                    token_expires_at:
                      description: ISO 8601 timestamp when the token expires.
                      type: string
                      format: datetime
                      example: '2021-03-26T17:51:59Z'
                  example:
                    token: eyJhbGciOiJFZDI1NTE5IiwidHlwIjoiSldUIn0.eyJhdWQiOiJ0ZWxueXhfYWNjZXNzX3Rva2VuIiwiZXhwIjoxNjE5MDk0Mjk1LCJncmFudHMiOlt7ImFjdGlvbnMiOlsiam9pbiJdLCJyZXNvdXJjZXMiOlsidGVsbnl4OnZpZGVvOnJvb21zOjllMmEwY2JlLWNlNjYtNDExZS1hMWFjLTQ2OGYwYjEwM2M5YSJdLCJzdWJqZWN0cyI6WyJ0ZWxueXg6dXNlcnM6NzgyYjJjYmUtODQ2Ni00ZTNmLWE0ZDMtOTc4MWViNTc3ZTUwIl19XSwiZ3JhbnRzX3ZlcnNpb24iOiIxLjAuMCIsImlhdCI6MTYxOTA5MzY5NSwiaXNzIjoidGVsbnl4X2FjY2Vzc190b2tlbiIsImp0aSI6IjllNjIyOTA2LTc1ZTctNDBiNi1iOTAwLTc1NGIxZjNlZDMyZiIsIm5iZiI6MTYxOTA5MzY5NCwic3ViIjoibnVsbCIsInR5cCI6ImFjY2VzcyJ9.1JGK9PyHkTtoP_iMu-8TzXH_fhmnsDtZZOAJLDzLW6DDtAb80wZ93l1VH5yNx5tFqwIFG0t48dRiBKWlW-nzDA
                    token_expires_at: '2021-04-22T12:24:55Z'
      ListRoomSessionsResponse:
        description: List room sessions response.
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    "$ref": "#/components/schemas/RoomSession"
                meta:
                  "$ref": "#/components/schemas/PaginationMeta"
      GetRoomSessionResponse:
        description: Get room session response.
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  "$ref": "#/components/schemas/RoomSession"
      ListRoomParticipantsResponse:
        description: List room participants response.
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    "$ref": "#/components/schemas/RoomParticipant"
                meta:
                  "$ref": "#/components/schemas/PaginationMeta"
      GetRoomParticipantResponse:
        description: Get room participant response.
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  "$ref": "#/components/schemas/RoomParticipant"
      ListRoomRecordingsResponse:
        description: List room recordings response.
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    "$ref": "#/components/schemas/RoomRecording"
                meta:
                  "$ref": "#/components/schemas/PaginationMeta"
      BulkDeleteRoomRecordingsResponse:
        description: Successful response for Bulk Delete Room recordings requests
        content:
          application/json:
            schema:
              type: object
              title: Bulk Room Recordings Delete Response
              properties:
                data:
                  type: object
                  properties:
                    room_recordings:
                      type: integer
                      description: Amount of room recordings affected
                      example: 5
      GetRoomRecordingResponse:
        description: Get room recording response.
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  "$ref": "#/components/schemas/RoomRecording"
      ListRoomCompositionsResponse:
        description: List room compositions response.
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    "$ref": "#/components/schemas/RoomComposition"
                meta:
                  "$ref": "#/components/schemas/PaginationMeta"
      GetRoomCompositionResponse:
        description: Get room composition response.
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  "$ref": "#/components/schemas/RoomComposition"
      CreateRoomCompositionResponse:
        description: Create room composition response.
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  "$ref": "#/components/schemas/RoomComposition"
      UnauthorizedResponse:
        description: Unauthorized
      ResourceNotFound:
        description: Resource not found
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/Error"
      Forbidden:
        description: Forbidden
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/Error"
      UnprocessableEntity:
        description: Unprocessable entity. Check the 'detail' field in response for
          details.
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/Errors"
    parameters:
      PageSize:
        name: page[size]
        in: query
        description: The size of the page.
        schema:
          type: integer
          minimum: 1
          maximum: 250
          default: 20
      PageNumber:
        name: page[number]
        in: query
        description: The page number to load.
        schema:
          type: integer
          minimum: 1
          default: 1
    examples: {}
    links: {}
    requestBodies: {}
  